@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

bg-img {
  position: absolute;
}

.chessboard {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.square {
  width: 100%;
  height: 100%;
}

.highlighted {
  background-color: rgba(255, 255, 0, 0.6) !important;
}

.move-history::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: .25;
  height: 40px;
  background: linear-gradient(to bottom, #7a7474, transparent);
  pointer-events: none; /* so it doesn't interfere with scrolling */
}